FLASK_ENV_TYPE=dev
SECRET_OTP_ADMIN=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
SECRET_OTP_OPERATOR=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
SECRET_OTP_USER=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
SECRET_FLASK_SESSION=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
REDIS_URL_DEV=redis://:p@ssw0rd@192.168.0.1:6379
REDIS_URL_TEST=redis://192.168.0.1:6380
REDIS_URL_PROD=redis://:p@ssw0rd@192.168.0.1:6379
