FLASK_ENV_TYPE=dev

SECRET_OTP_ADMIN=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
SECRET_OTP_OPERATOR=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE
SECRET_OTP_USER=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE

SECRET_FLASK_SESSION=QWEQEADASFESDFWEEDQWSEDQEQWEQWEE

REDIS_URL_DEV=redis://:p@ssw0rd@192.168.0.1:6379
REDIS_URL_TEST=redis://192.168.0.1:6380
REDIS_URL_PROD=redis://:p@ssw0rd@192.168.0.1:6379

R2_ACCOUNT_ID=fgerwqfsghrtstgrsdaf
R2_ACCESS_KEY_ID=rtyshaer5h5yghvbrweagaw4
R2_SECRET_ACCESS_KEY=frgea4t4ewg5aefvgwe4fesa4awefd4wea
R2_BUCKET_NAME_DEV=dev
R2_CUSTOM_DOMAIN_DEV="https://pub-cdsAcvsdar.r2.dev"
R2_BUCKET_NAME_PROD=prod
R2_CUSTOM_DOMAIN_PROD="https://custom-domain.com"
