{% extends 'index.html' %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block main %}

<button id="back-to-top-btn" aria-label="back-to-top"><i class="fas fa-caret-up"></i><span>TOP</span></button>

<main class="blog-main-content">

    <div class="content-wrapper">

        <section class="sidebar">
            <form action="/blog/" method="GET">
                <div class="filter-group">
                    <label for="blog-index-sort">显示排序:</label>
                    <select id="blog-index-sort" name="sort">
                        <option value="default"   {% if sidebar_default_value.sort_type=="default" %}   selected {% endif %}>系统推荐</option>
                        <option value="date_desc" {% if sidebar_default_value.sort_type=="date_desc" %} selected {% endif %}>最新发布</option>
                        <option value="popular"   {% if sidebar_default_value.sort_type=="popular" %}   selected {% endif %}>最受欢迎</option>
                        <option value="edit_desc" {% if sidebar_default_value.sort_type=="edit_desc" %} selected {% endif %}>最近更新</option>
                    </select>
                </div>

            <div class="filter-group">
                <label for="blog-index-keyword">搜索关键词:</label>
                <input
                        type="search"
                        id="blog-index-keyword"
                        name="keyword"
                        {% if sidebar_default_value.search_keyword is not none %}
                        value={{ sidebar_default_value.search_keyword }}
                        {% endif %}
                >
            </div>

            <div class="filter-group">
                <label>
                    仅看我的文章 <input
                                    type="checkbox"
                                    name="my_posts"
                                    {% if sidebar_default_value.flag_mine_only %}
                                        checked
                                    {% endif %}
                                >
                </label>
            </div>

            <button type="submit">筛选</button>
        </form>
    </section>
        <div class="blog-list-main">

            {% if blog_entry_list == [] %}
                <span>Oops, no blog yet! </span>

            {% else %}
                {% for blog_entry in blog_entry_list %}

                    <article class="blog-entry">
                        <div class="blog-meta">
                            <a href="{{ url_for('blog.view', bid=blog_entry.id) }}" class="blog-meta-title">
                                <span>{{ blog_entry.title }}</span>

                                {% if blog_entry.status == "HIDDEN" %}
                                    <span class="pill-badge-index pill-badge-hidden">Hidden</span>
                                {% elif blog_entry.status == "PUBLIC" %}
                                    <!-- PASS -->
                                {% elif blog_entry.status == "DRAFT" %}
                                    <span class="pill-badge-index pill-badge-draft">Draft</span>
                                {% elif blog_entry.status == "DELETED" %}
                                    <span class="pill-badge-index pill-badge-deleted">Deleted</span>
                                {% elif blog_entry.status == "PENDING" %}
                                    <span class="pill-badge-index pill-badge-pending">Pending</span>
                                {% endif %}
                            </a>
                            
                            <div class="blog-meta-right">
                                {% if blog_entry.author_id == session.uid %}
                                    <span>by&nbsp;</span>
                                    <span style="font-style: italic; text-decoration: underline">*You*</span>
                                {% else %}
                                    <span>by {{ blog_entry.author }}</span>
                                {% endif %}
                                |
                                <time datetime="{{ blog_entry.time_datetime_attr }}">
                                    {{ blog_entry.time_display }}
                                </time>
                            </div>
                        </div>
                        <a class="blog-content" href="{{ url_for('blog.view', bid=blog_entry.id) }}">
                            <p class="blog-content-intro">{{ blog_entry.body }}</p>
                            {% if blog_entry.cover_url %}
                            <img class="blog-thumb" src="{{ blog_entry.cover_url }}">
                            {% endif %}
                        </a>
                    </article>

                {% endfor %}

            {% endif %}

        </div>
        <div style="text-align: center">
            <button
                id="blog-load-more-btn">
                加载更多</button>
        </div>
    </div>

</main>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/back-to-top.js"></script>
    <script src="/static/js/blog-list-load-more.js"></script>
{% endblock %}