{% extends 'index.html' %}

{% block title %}
<title>Blog Detail</title>
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/vendors/github-markdown/github-markdown-light.min.css">
{% endblock %}

{% block main %}
<button id="back-to-top-btn" aria-label="back-to-top"><i class="fas fa-caret-up"></i><span>TOP</span></button>
<main class="blog-detail-wrapper">
    <div class="blog-management">
        <!-- manage_list = ['edit', 'delete', 'publishX', 'restore', 'hide', 'submitX'] -->

        {% if "edit" in manage_list %}
        <a href="{{ url_for('blog.edit', bid=blog_entry.id) }}">
            <i class="fas fa-edit"></i><span>编辑</span>
        </a>
        {% endif %}

        {% if "publish" in manage_list %}
        <a id="blog-publish-anchor" href="#">
            <i class="fas fa-paper-plane"></i>
            <span>
            {% if blog_entry.status=="HIDDEN" %}
                转为公开
            {% else %}
                发布
            {% endif %}
            </span>
        </a>
        {% endif %}

        {% if "submit" in manage_list %}
        <a id="blog-submit-anchor" href="#">
            <i class="fas fa-user-check"></i><span>提交审核</span>
        </a>
        {% endif %}

        {% if "delete" in manage_list %}
        <a id="blog-delete-anchor" href="#">
            <i class="fas fa-trash-alt"></i><span>删除</span>
        </a>
        {% endif %}

        {% if "hide" in manage_list %}
        <a id="blog-hide-anchor" href="#">
            <i class="fas fa-eye-slash"></i><span>隐藏</span>
        </a>
        {% endif %}

        {% if "restore" in manage_list %}
        <a id="blog-restore-anchor" href="#">
            <i class="fas fa-undo-alt"></i>
            <span>
            {% if blog_entry.status=="HIDDEN" %}
                恢复至作者可修改
            {% elif blog_entry.status=="DELETED" %}
                恢复至公开
            {% endif %}
            </span>
        </a>
        {% endif %}

        <button class="share-btn" onclick="copyLinkToClipboard(this)">
            <i class="fas fa-external-link-alt"></i><span>复制链接</span>
        </button>
    </div>

    <div id="toast-msg-container" class="toast-msg-container">
        <i id="toast-icon" class="toast-icon"></i>
        <div id="toast-msg" class="toast-msg">
            <span id="toast-msg-main">提示内容</span>
            <span id="toast-msg-callback">提示内容</span>
        </div>
    </div>

    <article class="blog-detail-article">
      <h1 class="article-title">
          <span>{{ blog_entry.title | safe}}</span>
          {% if blog_entry.status == "HIDDEN" %}
          <span class="pill-badge-detail pill-badge-hidden">已隐藏: 非公开可见, 不可编辑</span>
          {% elif blog_entry.status == "PUBLIC" %}
            <!-- PASS -->
          {% elif blog_entry.status == "DRAFT" %}
              <span class="pill-badge-detail pill-badge-draft">草稿: 仅作者可见并编辑</span>
          {% elif blog_entry.status == "DELETED" %}
              <span class="pill-badge-detail pill-badge-deleted">已删除: 非公开可见, 可恢复</span>
          {% elif blog_entry.status == "PENDING" %}
              <span class="pill-badge-detail pill-badge-pending">修改中: 非公开可见, 作者可编辑</span>
          {% endif %}


      </h1>
      <section class="markdown-body">
        <p> {{ blog_entry.body | safe}} </p>
      </section>

      <footer>
        <p>
            {{ blog_entry.release_type }}  <!-- 发布于/编辑于 -->
            <time datetime="{{ blog_entry.time_datetime_attr }}"> {{ blog_entry.time_display }} </time>
        </p>
        <p>
            作者:
            {% if blog_entry.username == session.username %}
                <span style="font-style: italic; text-decoration: underline">*You*</span>
            {% else %}
                <span>{{ blog_entry.username }}</span>
            {% endif %}
        </p>
        <p>
            阅读量: {{ blog_entry.pv }}
        </p>
      </footer>
    </article>

</main>

{% endblock %}

{% block scripts %}
  {{ super() }}
    <script src="/static/js/blog-copy-to-clp.js"></script>
    <script src="/static/js/back-to-top.js"></script>
    <script src="/static/js/blog-action.js"></script>
    <script src="/static/js/toast.js"></script>
{% endblock %}