{% extends 'index.html' %}

{% block title %}
<title>Blog Editor</title>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="/static/vendors/easyMDE/easymde.min.css">
    <script src="/static/vendors/easyMDE/easymde.min.js"></script>
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/regular.min.css">
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/solid.min.css">
    <link rel="stylesheet" href="/static/vendors/github-markdown/github-markdown-light.min.css">


<main class="blog-editor">
    <h2>编辑博文</h2>
<!--    action="{{ submit_href }}" method="post"-->
        <form id="blog-edit-form">
        <!-- submit_href could be /blog/add or /blog/<int>/edit -->

        <div class="form-group">
            <label for="article-title">标题</label>
            <input
                type="text"
                id="article-title"
                name="title"

                {% if blog_detail is not defined %}
                    placeholder="请输入文章标题"
                {% else %}
                    value={{ blog_detail.title }}
                {% endif %}

                required
            >
        </div>

        <div class="form-group">
            <label for="article-content">正文</label>

            {% if blog_detail is not defined %}
                <textarea id="article-content" name="content" placeholder="在这里撰写您的文章内容..."></textarea>
            {% else %}
                <textarea id="article-content" name="content">{{ blog_detail.body }}</textarea>
            {% endif %}
        </div>

        <div style="margin: 0 20px 10px 20px;">
            {% if "save" in action_btn_list %}
                <button type="submit" name="action" value="save">保存编辑</button>
            {% endif %}

            {% if "submit" in action_btn_list %}
                <button type="submit" name="action" value="submit">提交审核</button>
            {% endif %}

            {% if "publish" in action_btn_list %}
                <button type="submit" name="action" value="publish">发布为公开可见</button>
            {% endif %}
        </div>

    </form>

    <div id="toast-msg-container" class="toast-msg-container">
        <i id="toast-icon" class="toast-icon"></i>
        <div id="toast-msg" class="toast-msg">
            <span id="toast-msg-main">提示内容</span>
            <span id="toast-msg-callback">提示内容</span>
        </div>

    </div>

    <div id="blog-upload-overlay" class="blog-upload-overlay" style="">
        <div class="blog-upload-spinner"></div>
        <div class="blog-upload-text">正在压缩并上传图片, 请稍候...</div>
        <div class="blog-upload-text"><span style="font-style: italic">存储服务器在海外, 所以上传比较慢</span>😥</div>
    </div>

</main>
<script>
const easyMDE = new EasyMDE({
    element: document.getElementById('article-content'),
    spellChecker: false,
    autosave: { enabled: true, uniqueId: "{{ unique_id }}", text: "自动保存于: "},
    autoDownloadFontAwesome: false,
    previewClass: 'markdown-body',
    toolbar: ["clean-block", "bold", "italic", "strikethrough", "heading", "|", "unordered-list", "ordered-list",  "check-list", "|", "quote", "code", "|", "link", "image", "table", "|", "preview", "side-by-side", "fullscreen"],
    imageTexts: {sbInit: "可通过拖放或从剪贴板粘贴来添加图片"},

    uploadImage: true,
    imageUploadFunction: function(file, onSuccess, onError) {
        const overlay = document.getElementById('blog-upload-overlay');
        overlay.style.display = 'flex';

        // step 1: block > 15MB
        const maxSizeInBytes = 15 * 1024 * 1024;
        if (file.size > maxSizeInBytes) {
            onError("上传失败：图片大小超过 15MB 限制 ");
            overlay.style.display = 'none';
            return;
        }

        // step 2: block > 20MP
        const maxPixels = 20000000;
        const objectUrl = URL.createObjectURL(file);
        const img = new Image();

        img.onload = function() {
            const width = img.width;
            const height = img.height;
            const totalPixels = width * height;
            URL.revokeObjectURL(objectUrl);

            if (totalPixels > maxPixels) {
                onError(`上传失败：图片分辨率超过 20MP 限制. 如果是超长截图, 建议将其裁剪拆分为 2-3 张图片分别上传, 这样阅读体验会更好哦!`);
                overlay.style.display = 'none';
                return;
            }

            uploadFile(file);
        };

        // step 3: block non-image
        img.onerror = function() {
            URL.revokeObjectURL(objectUrl);
            onError("上传失败：文件不是合法的图片格式! ");
            overlay.style.display = 'none';
        };

        function uploadFile(file) {
            const formData = new FormData();
            formData.append('image', file);

            // WARNING: fetch is async, be careful!
            fetch('/image/post', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var url = "";
                if (data.large) {
                    url = data.large.url;
                } else if (data.small) {
                    url = data.small.url;
                } else if (data.thumb) {
                    url = data.large.url;
                } else if (data.error) {
                    onError(data.error);
                    overlay.style.display = 'none';
                    return;
                } else {
                    onError("上传失败");
                    overlay.style.display = 'none';
                    return;
                }

                onSuccess(url);
                overlay.style.display = 'none';
            })
            .catch(err => {
                onError(`网络错误: ${err}`);
                overlay.style.display = 'none';
            });
        }

        img.src = objectUrl;

    }
});
</script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/blog-action.js"></script>
    <script src="/static/js/toast.js"></script>
{% endblock %}