.blog-detail-wrapper {
    margin: 20px;
}

.blog-management {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: flex-end;
}

.blog-management > a, a:visited {
    text-decoration: none;
}

.blog-management > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

article > footer > p, .blog-management > a, button, a:visited {
    display: flex;
    align-items: baseline;
    font-size: 1em;
    color: #808080;
    gap: 6px;
    transition: 0.2s;
}

.blog-management > a:hover, button:hover {
    color: #6667AB;
}

article > footer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}