/*
 +-----------------------------+
 |          BLOG MAIN          |
 +-----------------------------+
*/
.blog-main-content {
    margin: 20px 10% 0 5%;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    padding-bottom: 10px;
}

.content-wrapper {
    display: flex;
    row-gap: 10px;
    align-items: flex-start;
    flex: 1;
    overflow: hidden;
}

/*
 +----------------------------------------+
 |          BLOG MAIN :: SIDEBAR          |
 +----------------------------------------+
*/
.sidebar {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    flex: 0 0 250px;
    font-size: 16px;
}

.filter-group {
    margin-bottom: 15px;
}

.sidebar label {
    display: block; /* 标签独占一行 */
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.sidebar input[type="search"],
.sidebar select {
    width: 100%; /* 填满侧边栏的宽度 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar button[type="submit"] {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 5px;
    background-color: #8283AD;
    color: white;
    border: none;
    border-radius: 4px;
}

/*
 +-------------------------------------+
 |          BLOG MAIN :: LIST          |
 +-------------------------------------+
*/
.blog-list-main {
    padding: 0 10px 0 15px;
    flex: 1 1 355px;
    overflow-y: auto;
    height: calc(100vh - 230px - 10px);
}

.blog-entry {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.blog-entry .blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.blog-entry .blog-meta-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    flex: auto;
}

.blog-entry .blog-meta-right span {
    word-break: break-all;
}

.blog-entry .blog-meta-right {
    color: #6B6B6B;
    font-size: 14px;
    flex: auto;
    text-align: right;
}

.blog-entry .intro {
    color: #676767;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
}

#blog-load-more-btn {
    display: none;
}

#back-to-top-btn {
    display: none;
}

/*
 +--------------------------------------------------+
 |          BLOG MAIN (FOR WIDTH <= 768px)          |
 +--------------------------------------------------+
*/
@media (max-width: 768px) {
    .content-wrapper {
        display: grid;
    }

    .blog-main-content {
        margin: 20px 5% 0 5%;
    }

    .sidebar {
        padding: 10px;
        margin: 0 auto;
        flex: auto;
        font-size: 14px;
    }

    .sidebar form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .filter-group {
        min-width: 50px;
        flex: 1 1 auto;
        margin: 0px;
    }

    .sidebar button[type="submit"] {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        width: auto;
        padding: 2px 5px;
    }

    .blog-list-main {
        padding: 0 10px;
        height: auto;
    }

    #blog-list-more-btn {
        display: inline;
    }

    .blog-list-main .blog-entry {
        display: none;
    }

    .blog-list-main > .blog-entry[blog-visible="true"] {
        display: block;
    }

    #blog-load-more-btn {
        display: inline;
    }

    #back-to-top-btn {
        display: inline;
        position: fixed;
        bottom: 70px;
        right: -50px;
        z-index: 100;

        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;

        border: 1px;
        width: 50px;
        height: 50px;
        background-color: #8283AD;
        color: white;
        border-radius: 50%;
        padding: 1px 6px 3px 6px;

        text-align: center;
    }

    #back-to-top-btn.back-to-top-btn-show {
        opacity: 1;
        visibility: visible;
        transform: translateX(-80px);
    }

}