/*
    <aside> side-nav-drawer
    |
    |---<li> side-nav-entry-wrapper
    |---<li> side-nav-entry-wrapper
        |
        |---<div> side-nav-entry
        |   |
        |   |---<a>
        |   |---<button>
        |
        |---<ul> side-nav-sub-list
            |
            |---<li> side-nav-sub-entry
            |---<li> side-nav-sub-entry
                |
                |---<a>
                |---<a>
 */

.side-nav-drawer, .side-nav-cloak, .side-nav-hamburger {
    display: none;
}

.side-nav-hamburger {
    dont-family: math;
    box-sizing: border-box;
    border: 1px solid #000;
    height: 40px;
    width: 40px;
    border-radius: 0px;
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 1.3rem;
}

.side-nav-cloak {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 150;
}

.side-nav-cloak.active {
    opacity: 1;
    visibility: visible;
}

.side-nav-drawer {
    position: fixed;
    top: 200px;
    left: 0;
    width: 200px;
    height: 100%;
    background: #fff;
    z-index: 200;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.side-nav-drawer.active {
    transform: translateX(0);
}

.side-nav-drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav-entry-wrapper {
    max-height: 500px;
}

.side-nav-drawer a {
    display: block;
    padding: 15px 20px;
    flex-grow: 1;
    text-decoration: none;
    color: #333;
}

/* 一级条目 */
.side-nav-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}

/* 一级条目: 展开按钮 */
.side-nav-entry > button {
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.side-nav-entry-wrapper.expand .side-nav-entry > button {
    transform: rotate(180deg);
}

/* 二级条目 */
.side-nav-sub-entry > a {
    padding: 12px 40px;
    font-size: 0.9rem;
}

/* 二级条目列表 */
.side-nav-sub-list {
    background: #f9f9f9;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

/* 二级条目列表: 展开 */
.side-nav-sub-list.expand {
    max-height: 100px;
}

@media (max-width: 768px) {
    .side-nav-drawer, .side-nav-cloak, .side-nav-hamburger {
        display: block;
    }
}
