/*
 +--------------------------+
 |          HEADER          |
 +--------------------------+
*/
.site-header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}

.site-header #header-left {
    flex: 0 0 auto;
}

.site-header #header-username {
    flex: auto;
    text-align: right;
    word-break: break-all;
}

.site-header #header-auth-button {
    flex: 0 0 auto;
}


.site-header #site-logo {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 20px 0px;
}

.site-header #header-auth-button a {
    text-decoration: none; /* 移除下划线 */
    padding: 2px 5px;
    background-color: #6f7377;
    color: white;
    border: 1px solid #6f7377;
    border-radius: 4px;
}