/*
 +--------------------------+
 |          FOOTER          |
 +--------------------------+
*/
.site-footer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    height: 40px;
}

.site-footer > p {
    margin: 0;
}