/*
 +---------------------------------+
 |          APP-CONTAINER          |
 +---------------------------------+
*/
.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .app-container {
        height: auto;
        overflow: auto;
    }
}
