/*
 +---------------------------------+
 |          APP-CONTAINER          |
 +---------------------------------+
*/
.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px 8px 0px 8px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .app-container {
    height: auto;
    overflow: auto;
    }
}

/*
 +--------------------------+
 |          HEADER          |
 +--------------------------+
*/
.site-header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.site-header #header-left {
    flex: 0 0 auto;
}

.site-header #header-username {
    flex: auto;
    text-align: right;
    word-break: break-all;
}

.site-header #header-auth-button {
    flex: 0 0 auto;
}


.site-header #site-logo {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 20px 0px;
}

.site-header #header-auth-button a {
    text-decoration: none; /* 移除下划线 */
    padding: 2px 5px;
    background-color: #6f7377;
    color: white;
    border: 1px solid #6f7377;
    border-radius: 4px;
}

/*
 +-----------------------+
 |          NAV          |
 +-----------------------+
*/
.main-nav {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.main-nav-entry-wrapper {
    display: flex;
    transition: 0.5s ease-in-out;
}

.sub-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    background-color: #ccc;
    border-radius: 4px;
    padding: 0px 10px;
    gap: 10px;
    display: flex;
}

.main-nav-entry-wrapper > a {
    text-decoration: none; /* 移除下划线 */
    color: #333;
    font-weight: bold;
    padding: 0 10px;
    border-bottom: 2px solid rgba(155, 144, 233, 0);
    transition: 0.5s ease-in-out;
}

/*
 +--------------------------+
 |          FOOTER          |
 +--------------------------+
*/
.site-footer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.site-footer > p {
    margin: 0;
}