/*
 +--------------------------+
 |          HEADER          |
 +--------------------------+
*/
.site-header {
    background-color: #333; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header #site-logo {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 24px 0px;
}

.site-header #header-right {
    flex: 0 0 250px;
    text-align: right;
}

.site-header #header-right span {
    padding-left: 10px;
    padding-right: 10px;
}

.site-header #header-right a {
    text-decoration: none; /* 移除下划线 */
    padding: 2px 5px;
    background-color: #6f7377;
    color: white;
    border: 1px solid #6f7377;
    border-radius: 4px;
}

/*
 +-----------------------+
 |          NAV          |
 +-----------------------+
*/
.main-nav {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.main-nav-entry-wrapper {
    display: flex;
    transition: 0.5s ease-in-out;
}

.sub-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    background-color: #ccc;
    border-radius: 4px;
    padding: 0px 10px;
    gap: 10px;
    display: flex;
}

.main-nav-entry-wrapper > a {
    text-decoration: none; /* 移除下划线 */
    color: #333;
    font-weight: bold;
    padding: 0 10px;
    border-bottom: 2px solid rgba(155, 144, 233, 0);
    transition: 0.5s ease-in-out;
}

/*
 +--------------------------+
 |          FOOTER          |
 +--------------------------+
*/
.site-footer {
    text-align: center;
    font-size: 16px;
}

/*
 +-----------------------------+
 |          AUTH FORM          |
 +-----------------------------+
*/
.auth-form-container {
    background-color: #f4f4f4;
    min-height: 35vh;
    padding: 40px;
}

.auth-form-group {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.auth-form-group > .form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 1rem;
}

.auth-form-group > .form-input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-form-container button {
    margin: 20px auto 0px auto;
    display: block;
    padding: 2px 5px;
    background-color: #929395;
    color: white;
    border: 1px solid #6f7377;
    border-radius: 4px;
    font-size: 1rem;
}

.auth-form-warning {
    margin-top: 30px;
    text-align: center;
    user-select: none;
    color: #f08103;
}

/*
 +-----------------------------+
 |          BLOG MAIN          |
 +-----------------------------+
*/
.blog-main-content {
    max-width: 1200px;
    margin: 20px auto;
}

.content-wrapper {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    align-items: flex-start;
}

/*
 +----------------------------------------+
 |          BLOG MAIN :: SIDEBAR          |
 +----------------------------------------+
*/
.sidebar {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    flex: 0 0 250px;
    font-size: 16px;
}

.filter-group {
    margin-bottom: 15px;
}

.sidebar label {
    display: block; /* 标签独占一行 */
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.sidebar input[type="search"],
.sidebar select {
    width: 100%; /* 填满侧边栏的宽度 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar button[type="submit"] {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 5px;
    background-color: #8175a7;
    color: white;
    border: none;
    border-radius: 4px;
}

/*
 +-------------------------------------+
 |          BLOG MAIN :: LIST          |
 +-------------------------------------+
*/
.blog-entry {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    min-width: 355px;
}

.blog-entry .blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-entry .blog-meta-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.blog-entry .blog-meta-right {
    color: #6B6B6B;
    font-size: 14px;
    flex: 0 0 130px;
}

.blog-entry .intro {
    color: #676767;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
}

/*
 +-------------------------------------------+
 |          BLOG MAIN :: PAGINATION          |
 +-------------------------------------------+
*/
.pagination {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0 30px;
    font-size: 14px;
    gap: 10px;
    width: 355px;
    justify-content: space-between;
    align-items: center;
}

.page-link, .current-page {
    padding: 2px 4px;
    margin: 0 0;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    min-width: 15px;
    text-align: center;
}

.page-link:hover {
    background-color: #f0f0f0;
}

.current-page {
    background-color: #8175a7;
    color: white;
    border-color: #ccc;
    font-weight: bold;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; /* 禁用点击事件 */
}

/*
 +--------------------------------------------------+
 |          BLOG MAIN (FOR WIDTH <= 768px)          |
 +--------------------------------------------------+
*/
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar {
        padding: 10px;
        margin: 0 auto;
        flex: auto;
        font-size: 14px;
    }

    .sidebar form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .filter-group {
        min-width: 50px;
        flex: 1 1 auto;
        margin: 0px;
    }

    .sidebar button[type="submit"] {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        width: auto;
        padding: 2px 5px;
    }
}