{% extends 'index.html' %}

{% block title %}
<title>注册</title>
{% endblock %}

{% block header_right %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}
<div class="auth-form-container ">
    <div class="auth-warning">
        <span></span>
        <i class=""></i>
    </div>

    <form id="register-form" class="auth-form">
        <div class="auth-form-group">
            <label class="form-label" for="auth-form-username">用户名</label>
            <input class="form-input" id="auth-form-username" type="text" name="username" autocomplete="username" required>
        </div>

        <div class="auth-form-group">
            <label class="form-label" for="auth-form-password">密码</label>
            <input class="form-input" id="auth-form-password" type="password" name="password" autocomplete="new-password" required>
        </div>

        <div class="auth-form-group">
            <label class="form-label" for="auth-form-password-confirm">确认密码</label>
            <input class="form-input" id="auth-form-password-confirm" type="password" name="password-confirm" autocomplete="new-password" required>
        </div>

        <div class="auth-form-group">
            <label class="form-label" for="register-code">邀请码</label>
            <input class="form-input" id="register-code" type="text" name="register-code" required>
        </div>

        <div class="auth-form-group">
            <button type="submit">注册</button>
        </div>

    </form>

    <div class="divider-container">
        <span class="divider-line"></span>
        <span class="divider-text">or</span>
        <span class="divider-line"></span>
    </div>

    <div class="auth-footer-link">
        <span>已有账号?</span>
        <a href="/auth/login">点击登录</a>
    </div>


</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/auth.js"></script>
{% endblock %}
