{% extends 'index.html' %}

{% block title %}
<title>更改密码</title>
{% endblock %}

{% block header_right %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}
<div class="auth-form-container ">
    <div class="auth-warning">
        <span></span>
        <i class=""></i>
    </div>

    <form id="renew-password-form" class="auth-form">
        <div class="auth-form-group">
            <label class="form-label" for="auth-form-password">新密码</label>
            <input class="form-input" id="auth-form-password" type="password" name="password" autocomplete="new-password" required>
        </div>

        <div class="auth-form-group">
            <label class="form-label" for="auth-form-password-confirm">确认新密码</label>
            <input class="form-input" id="auth-form-password-confirm" type="password" name="password-confirm" autocomplete="new-password" required>
        </div>

        <div class="auth-form-group">
            <button type="submit">提交</button>
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/auth.js"></script>
{% endblock %}
