{% extends 'index.html' %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/blog.css">
{% endblock %}

{% block main %}

<button id="back-to-top-btn" aria-label="back-to-top"> ↑ <br>TOP</button>

<main class="blog-main-content">

    <div class="content-wrapper">

        <section class="sidebar">
            <form action="/blog/", method="GET">
                <div class="filter-group">
                    <label for="blog-index-sort">显示排序:</label>
                    <select id="blog-index-sort" name="sort">
                        <option value="default"   {% if sidebar_default_value.sort_type=="default" %}   selected {% endif %}>系统推荐</option>
                        <option value="date_desc" {% if sidebar_default_value.sort_type=="date_desc" %} selected {% endif %}>最新发布</option>
                        <option value="popular"   {% if sidebar_default_value.sort_type=="popular" %}   selected {% endif %}>最受欢迎</option>
                        <option value="edit_desc" {% if sidebar_default_value.sort_type=="edit_desc" %} selected {% endif %}>最近更新</option>
                    </select>
                </div>

            <div class="filter-group">
                <label for="blog-index-keyword">搜索关键词:</label>
                <input
                        type="search"
                        id="blog-index-keyword"
                        name="keyword"
                        {% if sidebar_default_value.search_keyword is not none %}
                        value={{ sidebar_default_value.search_keyword }}
                        {% endif %}
                >
            </div>

            <div class="filter-group">
                <label>
                    仅看我的文章 <input
                                    type="checkbox"
                                    name="my_posts"
                                    {% if sidebar_default_value.flag_mine_only %}
                                        checked
                                    {% endif %}
                                >
                </label>
            </div>

            <button type="submit">筛选</button>
        </form>
    </section>
        <div class="blog-list-main">

            {% if blog_entry_list == [] %}
                <span>Oops, no blog yet! </span>

            {% else %}
                {% for blog_entry in blog_entry_list %}

                    <article class="blog-entry">
                        <div class="blog-meta">
                            <a href="{{ url_for('blog.view', bid=blog_entry.id) }}" class="blog-meta-title">
                                {{ blog_entry.title }}
                            </a>
                            
                            <div class="blog-meta-right">
                                {% if blog_entry.author == session.username %}
                                    <span>by&nbsp;</span>
                                    <span style="font-style: italic; text-decoration: underline">*You*</span>
                                {% else %}
                                    <span>by {{ blog_entry.author }}</span>
                                {% endif %}
                                |
                                <time datetime="{{ blog_entry.time_datetime_attr }}">
                                    {{ blog_entry.time_display }}
                                </time>
                            </div>
                        </div>

                        <a href="{{ url_for('blog.view', bid=blog_entry.id) }}"  class="intro">
                            <p style="word-break: break-all">
                            {{ blog_entry.body }}
                            </p>
                        </a>
                    </article>

                {% endfor %}

            {% endif %}

        </div>
        <div style="text-align: center">
            <button
                id="blog-load-more-btn"
                style="height: 30px;
                       border: none;
                       background: none;
                       padding: 0;
                       color: #0000ee;
                       text-decoration: underline;
                       cursor: pointer">
                加载更多</button>
        </div>
    </div>

</main>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/blog.js"></script>
{% endblock %}