{% extends 'index.html' %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block main %}

<main class="blog-main-content">

    <div class="content-wrapper">

        <section class="sidebar">
            <form>
                <div class="filter-group">
                    <label for="sort">显示排序:</label>
                    <select id="sort" name="sort">
                        <option value="default">系统推荐</option>
                        <option value="date_desc">最新发布</option>
                        <option value="popular">最受欢迎</option>
                        <option value="edit_desc">最近更新</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label for="keyword">搜索关键词:</label>
                    <input type="search" id="keyword" name="keyword">
                </div>

                <div class="filter-group">
                    <label>
                        仅看我的文章 <input type="checkbox" name="my_posts">
                    </label>
                </div>

                <button type="submit">筛选</button>
            </form>
        </section>

        <div class="blog-list-main">

            {% if blog_entry_list == [] %}
                <span>Oops, no blog yet! </span>

            {% else %}
                {% for blog_entry in blog_entry_list %}

                    <article class="blog-entry">
                        <div class="blog-meta">
                            <a href={{ blog_entry.href_link }} class="blog-meta-title">
                                {{ blog_entry["title"] }}
                            </a>
                            
                            <div class="blog-meta-right">
                                <span>by {{ blog_entry["author"] }}</span> |
                                <time datetime={{ blog_entry["time_dash"] }}>{{ blog_entry["time_dot"] }}</time>
                            </div>
                        </div>

                        <a href={{ blog_entry["href_link"] }}  class="intro">
                            <p>
                            {{ blog_entry["body"] }}
                            </p>
                        </a>
                    </article>

                {% endfor %}

            {% endif %}


<!--            <section class="pagination">-->
<!--                <a href="/?page=1" class="page-link disabled">< 上一页</a>-->
<!--                <a href="/?page=1" class="page-link">1</a>-->
<!--                <span class="current-page">2</span>-->
<!--                <a href="/?page=3" class="page-link">3</a>-->
<!--                <a href="/?page=4" class="page-link">4</a>-->
<!--                <a href="/?page=3" class="page-link">下一页 ></a>-->
<!--            </section>-->
        </div>

    </div>

</main>

{% endblock %}