{% extends 'index.html' %}

{% block title %}
<title>Blog Detail</title>
{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/github-markdown-light.min.css">
    <link rel="stylesheet" href="/static/css/blog-detail.css">
{% endblock %}

{% block main %}
<button id="back-to-top-btn" aria-label="back-to-top"> ↑ <br>TOP</button>
<main class="blog-detail-wrapper">
    <div class="blog-management">
        <!-- only display edit/delete when author == current user -->
        {% if blog_entry.username == session.username %}
            <a id="blog-edit-anchor" href="{{ url_for('blog.edit', bid=blog_entry.id) }}">
                <i class="fa fa-pencil"></i>编辑
            </a>
            <a id="blog-delete-anchor" href="#">
                <i class="fa fa-trash-o"></i>删除
            </a>
        {% endif %}
            <button id="blog-share">
                <i class="fa fa-external-link"></i>复制链接
            </button>
    </div>

    <article>
      <h1 class="article-title"> {{ blog_entry.title | safe}} </h1>
      <section class="markdown-body">
        <p> {{ blog_entry.body | safe}} </p>
      </section>

      <footer>
        <p>
            {{ blog_entry.release_type }}  <!-- 发布于/编辑于 -->
            <time datetime="{{ blog_entry.time_datetime_attr }}"> {{ blog_entry.time_display }} </time>
        </p>
        <p>
            作者:
            {% if blog_entry.username == session.username %}
                <span style="font-style: italic; text-decoration: underline">*You*</span>
            {% else %}
                <span>{{ blog_entry.username }}</span>
            {% endif %}
        </p>
        <p>
            阅读量: {{ blog_entry.pv }}
        </p>
      </footer>
    </article>

</main>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/blog.js"></script>
{% endblock %}