<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Steve's Site</title>
    {% endblock %}

    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <header class="site-header">
        <div>
            <a href="/" id="site-logo">Steve's Site</a>
        </div>

        {% block header_right %}
        <div id="header-right">
            {% if "username" not in session %}
                <span>Hi, 陌生人!</span>
                <a href="/auth/login">注册/登录</a>
            {% else %}
                <span>Hi, {{session["username"]}}!</span>
                <a href="/auth/logout">退出登录</a>
            {% endif %}
        </div>
        {% endblock %}
    </header>

    {% block nav %}
    <nav class="main-nav">
        <a href="/blog">博客</a>
        <a href="/todo">待办清单</a>
        <a href="/projects">项目</a>
        <a href="/about">关于我</a>
    </nav>
    {% endblock %}

    {% block main %}
    <main>
        <h2>欢迎来到我的网站！</h2>
        <p>这是网站的主体内容区域。</p>
    </main>
    {% endblock %}

    <footer class="site-footer">
        <p>&copy; 2025 我的个人网站</p>
    </footer>

</body>
</html>