<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Steve's Site</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/main.css">
    {% endblock %}
</head>

<body>

    <header class="site-header">
        <div id="header-left">
            <a href="/" id="site-logo">Steve's Site</a>
        </div>

        {% block header_right %}
        <div id="header-username">
            {% if "username" not in session %}
                Hi, 陌生人!
            {% else %}
                Hi, {{session["username"]}}!
            {% endif %}
        </div>
        {% endblock %}

        <div id="header-auth-button">
            {% if "username" not in session %}
                <a href="/auth/login">注册/登录</a>
            {% else %}
                <a href="/auth/logout">退出登录</a>
            {% endif %}
        </div>

    </header>

    {% block nav %}
    <nav class="main-nav">
        <div class="main-nav-entry-wrapper" id="main-blog-wrapper">
            <a href="/blog">博客</a>
            <nav class="sub-nav">
                <a href="/blog/add">添加新的</a>
                <a>A2</a>
            </nav>
        </div>
        <div class="main-nav-entry-wrapper" id="main-todo-wrapper">
            <a href="/todo">待办清单</a>
            <nav class="sub-nav">
                <a>B1</a>
                <a>B2</a>
            </nav>
        </div>
        <div class="main-nav-entry-wrapper" id="main-project-wrapper">
            <a href="/project">项目</a>
            <nav class="sub-nav">
                <a>C1</a>
                <a>C2</a>
            </nav>
        </div>
        <div class="main-nav-entry-wrapper" id="main-about-wrapper">
            <a href="/about">关于我</a>
            <nav class="sub-nav">
                <a>D1</a>
                <a>D2</a>
            </nav>
        </div>

    </nav>
    {% endblock %}

    {% block main %}
    <main>
        <h2>欢迎来到我的网站！</h2>
        <p>这是网站的主体内容区域。</p>
    </main>
    {% endblock %}

    <footer class="site-footer">
        <p>&copy; 2025 Steve's Site</p>
        <p style="font-style: italic; font-size: 0.7rem">An Indie Web Project by steve3ussr</p>
    </footer>

</body>

{% block scripts %}
<script src="/static/main.js"></script>
{% endblock %}

</html>