{% extends 'index.html' %}

{% block title %}
<title>注册/登录</title>
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/auth.css">
{% endblock %}

{% block header_right %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block main %}
<div class="auth-form-container">
    <form id="login-form" action="/auth/login" method="post">

        <div class="auth-form-group">
            <label class="form-label" for="auth-form-username">用户名</label>
            <input class="form-input"
                   id="auth-form-username"
                   type="text"
                   {% if user_default is defined %}
                       value="{{user_default}}"
                   {%endif%}
                   name="username"
                   autocomplete="username"
                   required
            >
        </div>

        <div class="auth-form-group">
            <label class="form-label" for="auth-form-password">密码</label>
            <input class="form-input"
                   id="auth-form-password"
                   type="password"
                   name="password"
                   autocomplete="current-password"
                   required>
        </div>

        <button>注册/登录</button>

        <div class="auth-form-warning">
            {% if get_flashed_messages() %}
                <span>{{get_flashed_messages()[0]}}</span>
            {%elif msg %}
                <span>{{msg}}</span>
            {% endif %}
        </div>

    </form>
</div>
{% endblock %}
