{% extends 'index.html' %}

{% block title %}
<title>注册</title>
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/auth.css">
{% endblock %}

{% block header_right %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block main %}
<div class="auth-form-container">
    <form id="register-form" action="/auth/register" method="post">

        <div class="auth-form-group">
            <label class="form-label" for="auth-register-code">邀请码</label>
            <input class="form-input" type="text" id="auth-register-code" name="register-code" required>
        </div>

        <button>注册</button>

        <div class="auth-form-warning">
            {%if get_flashed_messages() %}
                <span>&nbsp;{{ get_flashed_messages()[0] }}</span>
            {% elif msg is not none %}
                <span>&nbsp;{{msg}}&nbsp;</span>
            {% endif %}
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
