{% extends 'index.html' %}

{% block title %}
<title>Release Note</title>
{% endblock %}

{% block main %}

<button id="back-to-top-btn" aria-label="back-to-top"><i class="fas fa-caret-up"></i><span>TOP</span></button>

<section class="release-note">
    <h3 class="release-note-title">👏 Release Notes</h3>
    <div class="release-note-timeline">
        {{ release_note_html | safe }}
    </div>
</section>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/back-to-top.js"></script>
    <script src="/static/js/blog-list-load-more.js"></script>
{% endblock %}